@media (max-width: 1400px)
	.header
		&__logo
			&-name
				font-size: 16px
			&-text
				font-size: 14px
		&__menu
			margin-right: 0
			&-item
				font-size: 16px
			&-phone
				font-size: 18px
	.about
		&-image
			width: 50%
			margin-right: 70px
			// width: auto
		&__info
			margin-top: 40px
			width: 40%
		&-title
			margin-bottom: 10px
			font-size: 50px
		&-subtitle
			margin-bottom: 22px
			font-size: 46px
		&-text
			font-size: 16px
	.terms
		&__wrapper
			justify-content: space-around
		&-item
			&:not(:last-child)
				margin-right: 0
		&-number
			font-size: 42px
		&-text
			font-size: 16px
@media (max-width: 1200px)
	.header
		&__menu
			display: none
		&-phone
			margin-left: auto
			margin-right: 20px
		&__burger-menu
			&--visible
				display: block
	.main
		&__info
			margin-top: calc(32px + 40 * (100vw / 1920))
			width: 40%
		&-title
			font-size: calc(35px + 40 * (100vw / 1920))
		&-subtitle
			font-size: calc(24px + 20 * (100vw / 1920))
		&-text
			font-size: calc(15px + 3 * (100vw / 1920))
		&-image
			width: 52%
		&-button
			margin-top: calc(16px + 24 * (100vw / 1920))
	.burger-button
		display: flex
	.about
		&-image
			flex-basis: 47%
			margin-right: 60px
		&__wrapper
			align-items: center
		&__info
			margin: 0
		&-title
			font-size: 42px
		&-subtitle
			font-size: 36px
@media (min-width: 992px)
	.header
		&-item, &__burger-item
			&:hover
				color: $light
	.button
		transition: all 0.5s
		&:hover
			background-color: #9B131D
@media (max-width: 991px)
	.header
		&__wrapper
			padding-bottom: 17px
	.main
		padding: 50px 0
		&__wrapper
			flex-direction: column
		&__info
			width: auto
			margin-top: 0
			margin-bottom: 50px
			text-align: center
		&-title
			font-size: 54px
			margin-bottom: 10px
		&-subtitle
			font-size: 32px
			margin-bottom: 16px
		&-text
			font-size: 16px
		&-image
			position: static
			width: 100%
			margin: auto
		&-button
			margin: auto
			margin-top: 28px
	.about
		padding: 40px 0
		&__wrapper
			flex-direction: column
		&-image
			order: 2
			margin: 0
			width: auto
			min-width: auto
		&__info
			width: auto
			margin: 0
			margin-bottom: 50px
	.terms
		&__wrapper
			flex-wrap: wrap
			text-align: center
		&-item
			flex-basis: 50%
			margin-bottom: 20px
		&-number
			font-size: 36px
@media (max-width: 768px)
	.header
		&-phone
			flex-basis: 100%
			order: 2
			margin-top: 14px
			margin-left: 17px
			text-align: center
	.burger-button
		align-self: flex-start
	.main
		&__wrapper
			align-items: center
		&__info
			width: 540px
@media (max-width: 576px)
	.header
		&__logo
			&-info
				margin-left: 12px
			&-image
				width: 40px
				height: 41px
			&-name
				font-size: 14px
			&-text
				font-size: 14px
		&-phone
			font-size: 16px
	.main
		padding-top: 32px
		padding-bottom: 24px
		&__info
			max-width: 350px
			margin-bottom: 46px
		&-title
			margin-bottom: 8px
			font-size: 38px
		&-subtitle
			font-size: 28px
			margin-bottom: 16px
		&-button
			margin-top: 19px
			font-size: 14px
	.about
		padding: 20px 0 16px
		&__info
			margin-bottom: 40px
		&-title
			font-size: 32px
		&-subtitle
			font-size: 26px
			width: auto
	.terms
		padding-top: 13px
		&__wrapper
			text-align: start
		&-item
			flex-basis: 100%
			margin-bottom: 30px
		&-number
			margin-bottom: 17px
			font-size: 30px
		&-text
			font-size: 18px
			& br
				display: none
@media (max-width: 360px)
	.about
		&-subtitle
			& br
				display: none
@media (max-width: 320px)
	.main
		&__info
			max-width: 300px
		&-title
			font-size: 32px
		&-subtitle
			font-size: 24px
		&-text
			font-size: 14px
