@media (max-width: 1600px)
	.container
		max-width: 1390px
		&-big
			max-width: 1460px
	.facts
		&__main
			margin-right: 90px
		&__cards
			max-width: 790px
	.preview
		&-text
			margin-right: 65px
		&-image
			&--main
				width: 550px
			&--second
				width: 700px
				bottom: -100px
		&__play
			left: 670px
@media (max-width: 1440px)
	.container, .container-big
		max-width: 1200px
	.header
		&__logo
			&-name
				font-size: 16px
			&-text
				font-size: 14px
		&__menu
			margin-right: 0
			&-item
				font-size: 16px
			&-phone
				font-size: 18px
	.about
		&-image
			width: 50%
			margin-right: 70px
		&__info
			margin-top: 40px
			width: 46%
		&-title
			margin-bottom: 10px
		&-subtitle
			margin-bottom: 22px
			font-size: 46px
		&-text
			font-size: 16px
	.terms
		&__wrapper
			justify-content: space-around
		&-item
			&:not(:last-child)
				margin-right: 0
		&-number
			font-size: 42px
		&-text
			font-size: 16px
	.facts
		&-subtitle
			font-size: 42px
	.preview
		&__wrapper
			margin-left: 100px
		&-subtitle
			margin-bottom: 40px
			font-size: 42px
		&-text
			margin-right: 60px
		&-image
			&--main
				width: 500px
			&--second
				width: 650px
				bottom: -100px
		&__play
			left: 620px
	.gallery
		&__top
			align-items: center
		&-text
			margin-top: 0
	.title
		font-size: 50px
@media (max-width: 1200px)
	.container, .container-big
		max-width: 992px
	.header
		&__menu
			display: none
		&-phone
			margin-left: auto
			margin-right: 20px
		&__burger-menu
			&--visible
				display: block
	.main
		&__info
			margin-top: calc(32px + 40 * (100vw / 1920))
			width: 40%
		&-title
			font-size: calc(35px + 40 * (100vw / 1920))
		&-subtitle
			font-size: calc(24px + 20 * (100vw / 1920))
		&-text
			font-size: calc(15px + 3 * (100vw / 1920))
		&-image
			width: 48%
		&-button
			margin-top: calc(16px + 24 * (100vw / 1920))
	.burger-button
		display: flex
	.about
		&-image
			flex-basis: 47%
			margin-right: 60px
		&__wrapper
			align-items: center
		&__info
			margin: 0
		&-subtitle
			font-size: 36px
	.terms
		&-number
			font-size: 36px
	.facts
		&__wrapper
			flex-wrap: wrap
		&__main
			margin-bottom: 60px
			margin-right: 0
		&-subtitle
			font-size: 36px
		&__cards
			&-item
				&:last-child
					margin-top: 0
	.preview
		&__wrapper
			margin-left: 0px
		&-text
			margin-right: 50px
		&-image
			&--main
				width: 465px
			&--second
				width: 590px
				bottom: -100px
		&__play
			left: 555px
	.advantage
		padding-top: 65px
		&-item
			flex-basis: 48.5%
	.gallery
		&__items
			gap: 20px
	.title
		font-size: 42px
@media (min-width: 992px)
	.header
		&-item, &__burger-item
			&:hover
				color: $light
	.button
		transition: all 0.5s
		&:hover
			background-color: #9B131D
@media (max-width: 991px)
	.container, .container-big
		max-width: 720px
	.header
		&__wrapper
			padding-bottom: 17px
	.main
		padding: 50px 0
		&__wrapper
			flex-direction: column
		&__info
			width: auto
			margin-top: 0
			margin-bottom: 50px
			text-align: center
		&-title
			font-size: 54px
			margin-bottom: 10px
		&-subtitle
			font-size: 32px
			margin-bottom: 16px
		&-text
			font-size: 16px
		&-image
			position: static
			width: 100%
			margin: auto
		&-button
			margin: auto
			margin-top: 28px
	.about
		padding: 40px 0
		&__wrapper
			flex-direction: column
		&-image
			order: 2
			margin: 0
			width: auto
			min-width: auto
		&__info
			width: auto
			margin: 0
			margin-bottom: 50px
	.terms
		padding-bottom: 50px
		&__wrapper
			flex-wrap: wrap
			text-align: center
		&-item
			flex-basis: 50%
			margin-bottom: 20px
		&-number
			font-size: 36px
	.facts
		padding-top: 50px
		&__cards
			&-item
				&:not(:last-child), &:last-child
					max-width: 300px
		&-title
			font-size: 42px
		&-subtitle
			font-size: 36px
	.preview
		padding: 50px 0
		&__wrapper
			margin-left: 0px
		&-subtitle
			margin-bottom: 20px
		&-text
			max-width: 100%
			margin-bottom: 47px
			margin-right: 0
		&__bottom
			flex-direction: column
		&-image
			&--main
				position: relative
				width: auto
			&--second
				display: none
		&__play
			height: 59px
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
	.advantage
		padding-top: 50px
		&-item, &-item:last-child
			padding: 32px 30px 30px
	.gallery
		padding: 50px 0
		&__top
			margin-bottom: 30px
		&-title
			margin-right: 40px
		&-text
			font-size: 16px
		&__items
			grid-template-columns: repeat(2, 1fr)
@media (max-width: 768px)
	.container, .container-big
		max-width: 92%
		padding: 0
	.header
		&-phone
			flex-basis: 100%
			order: 2
			margin-top: 14px
			margin-left: 17px
			text-align: center
	.burger-button
		align-self: flex-start
	.main
		&__wrapper
			align-items: center
		&__info
			width: 540px
	.button
		padding-top: 18px
		padding-bottom: 17px
	.facts
		&__cards
			&-item
				&.responsive
				&:not(:last-child), &:last-child
					max-width: -webkit-fill-available !important
					width: auto
					margin: 0 -15px
			&.responsive
				max-width: -webkit-fill-available !important
	.slick
		&-slide
			margin: 0 15px

	.gallery
		padding: 40px 0
		&__top
			flex-direction: column
			align-items: start
			margin-bottom: 40px
		&-title
			margin-bottom: 10px
		&-text
			width: 380px
			font-size: 16px
			& br
				display: block
@media (max-width: 576px)
	.header
		&__logo
			&-info
				margin-left: 12px
			&-image
				width: 40px
				height: 41px
			&-name
				font-size: 14px
			&-text
				font-size: 14px
		&-phone
			font-size: 16px
	.main
		padding-top: 32px
		padding-bottom: 25px
		&__info
			max-width: 350px
			margin-bottom: 46px
		&-title
			margin-bottom: 8px
			font-size: 38px
		&-subtitle
			font-size: 28px
			margin-bottom: 16px
		&-button
			margin-top: 21px
			font-size: 14px
	.about
		padding: 20px 0 16px
		&__info
			margin-bottom: 40px
		&-subtitle
			font-size: 26px
			width: auto
	.terms
		padding-top: 12px
		padding-bottom: 0
		&__wrapper
			text-align: start
		&-item
			flex-basis: 100%
			margin-bottom: 30px
		&-number
			margin-bottom: 17px
			font-size: 30px
		&-text
			font-size: 18px
			& br
				display: none
	.facts
		padding-top: 18px
		padding-bottom: 0px
		&__main
			margin-bottom: 17px
		&-title
			margin-bottom: 8px
		&-subtitle
			font-size: 26px
		&__bottom
			display: none
		&__cards
			&-title
				margin-bottom: 12px
				font-size: 16px
	.preview
		padding-bottom: 24px
		padding-top: 5px
		&-title
			margin-bottom: 8px
		&-subtitle
			margin-bottom: 24px
			font-size: 26px
		&-text
			margin-bottom: 52px
			font-size: 16px
		&__play
			width: 236px
			&-text
				font-size: 16px
	.advantage
		padding-top: 20px
		padding-bottom: 24px
		&-title
			margin-bottom: 25px
		&-item
			flex-basis: 100%
			padding: 32px 31px 30px 34px
			margin-bottom: 11px
			&__top
				display: flex
		&-image
			margin-right: 16px
			margin-bottom: 16px
		&-name
			flex-basis: 75%
			font-size: 16px
			line-height: 120%
			& br
				display: none
		&-text
			width: 100%
	.gallery
		padding: 17px 0 24px
		&__top
			flex-direction: column
			align-items: start
			margin-bottom: 24px
		&-title
			margin-bottom: 13px
		&-text
			width: 301px
			font-size: 14px
		&__items
			gap: 10px
			margin-bottom: 33px
		&-button
			padding: 16px 57px 15px
			font-size: 14px
	.title
		font-size: 32px
@media (max-width: 360px)
	.about
		&-subtitle
			& br
				display: none
	.facts
		&__cards
			&-item
				&.responsive
				&:not(:last-child), &:last-child
					margin: 0
	.slick
		&-slide
			margin: 0
	.gallery
		&-item
			height: 124px
@media (max-width: 320px)
	.main
		&__info
			max-width: 300px
		&-title
			font-size: 32px
		&-subtitle
			font-size: 24px
		&-text
			font-size: 14px
