.modal
	&__overlay
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 200
		background: rgba(61, 73, 91, 0.9)
		transition: opacity 0.2s
		visibility: hidden
		opacity: 0
		&--visible
			visibility: visible
			opacity: 1
		&-success
			visibility: visible
			opacity: 1
	&__shape
		position: absolute
		top: 50%
		left: 50%
		z-index: 210
		width: 1075px
		height: auto
		padding: 98px 157px 107px
		text-align: center
		background: #FFF7F2
		border-radius: 10px
		transition: opacity 0.2s
		transform: translate(-50%, -50%)
	&-title
		margin-bottom: 51px
		font-weight: bold
		font-size: 48px
		line-height: 110%
		text-align: center
		letter-spacing: 0.03em
		text-transform: uppercase
	&-input
		margin-right: 27px
		margin-bottom: 22px
	&-button
		padding: 14px 42px 14px
	& .checkbox
		margin-left: 78px
	&-close
		position: absolute
		top: 36px
		right: 42px
		width: 25px
		height: 25px
	&__dialog
		visibility: hidden
		opacity: 0
		&--visible
			visibility: visible
			opacity: 1

.modal
	&__overlay
		&-success
			display: block
			visibility: visible
			opacity: 1
			&--hidden
				display: none
				visibility: hidden
				opacity: 0
	&__success
		display: block
		padding-bottom: 98px
		visibility: visible
		opacity: 1
		&--hidden
			display: none
			visibility: hidden
			opacity: 0
		&-title
			margin-bottom: 24px
		&-subtitle
			margin-bottom: 32px
			font-weight: 500
			font-size: 32px
			line-height: 110%
			text-align: center
			letter-spacing: 0.03em
			text-transform: uppercase
		&-text
			max-width: 630px
			margin: auto
			margin-bottom: 47px
			font-weight: 500
			font-size: 18px
			line-height: 140%
		&-button
			display: inline-block
	&__socials
		display: flex
		flex-direction: column
		align-items: center
		margin-top: 65px
		& span
			margin-bottom: 16px
			font-weight: 500
			font-size: 18px
			line-height: 140%
		&-links
			display: flex
			justify-content: space-between
			width: 92px
