.scrollToTop
	position: fixed
	display: none
	bottom: 95px
	right: 57px
	z-index: 30
	width: 45px
	height: 45px
	padding: 0
	border-radius: 5px
	box-shadow: none
	transition: all 0.5s
	overflow: hidden
	border: none
	cursor: pointer
	outline: none
